<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{header :: common_head(~{::title},~{})}">
    <title>Editar Usuario</title>
</head>
<body>
      <div>
          <form action="#" method="post" th:action="@{/usuarios/edit}" th:object="${usuario}">
              <label> Email <input type="email" name="email" th:field = "*{email}"></label>
              <label>Nombre <input type="text" name="nombre" th:field = "*{nombre}"></label>
              <label>Apellido <input type="text" name="apellido" th:field = "*{apellido}"></label>
              <input type="submit" th:value="${mensaje}"/>
          </form>
      </div>

</body>
</html>