
        #nombreEvento{
            color: #898989;
            font-family: 'Alef', sans-serif;
            font-size: 2.5rem;
            margin-left: 2.0rem;
            margin-right: 2.0rem;
            padding-right: 20%;
            padding-left: 20%;
            text-align: center;
            align: justify;
            padding-top: 2% !important;
        }

        #cerrar-sesion{
            margin-left: 7.5rem;
            margin-right: 0.5rem;
            text-align: center;
        }

        #fechainicio{
            padding-left: 20%;
            text-align: left;
            margin-left: 2.0rem;
            float: left;
        }

        #fechafinalizacion
        {
            margin-right: 2.0rem;
            padding-right: 20%;
            text-align: right;
        }

        #modalidad{
            padding-left: 20%;
            text-align: left;
            margin-left: 2.0rem;
        }

        #descripcion{
            align: justify;
            margin-left: 2.0rem;
            margin-right: 2.0rem;
            text-align: center;
        }