html, body {
    background-image: url('/static/images/fondo-login.jpg');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#aRegistrarse{
    color: blue;
}
#contenedorLogin{
    background-color: #d3cdc6;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
#botonIngresar{
    margin-left: 40px!important;
}
#divRegistrarse{
    padding-left: 30px !important;
}