<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="~{header :: common_head(~{::title}, ~{::link})}">
        <title>Acerca De</title>
        <link rel="stylesheet" th:href="@{/css/acercaDe.css}">
    </head>
    <body>
    <header th:replace="~{header :: common_header}"></header>
    <h1> Propósito del sistema </h1>
    <div id="#proposito"> Este sistema está dirigido a las diferentes áreas funcionales de la universidad
    que deseen gestionar eventos. También usarán el sistema los usuarios que participen en dicho evento los cuales podrán
    presentar sus trabajos y visualizar los eventos disponibles. </div>
    <h2>Programadores</h2>
    <div id="programadores"> Los analistas, diseñadores y programadores de este sistema fueron = Fernando Andana, Facundo Ricagno, Diego Molinero, Matías Acuña y Brenda Martín </div>
    <th:block th:case="'ROLE_ADMIN'">
        <button id="#ver-ieee" class="btn btn-secondary">Ver IEEE 830</button>
    </th:block>
    </body>
</html>