<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: common_head(~{::title},~{::link}, ${id_user}, ${role})}">
    <title>Mis Presentaciones</title>
    <link rel="stylesheet" th:href="@{/css/trabajos/presentacionesUsuario.css}">
</head>
<body>
    <header th:replace="~{header :: common_header}"></header>
    <div id="main-container" class="container-fluid">
        <div id="title-container" class="container-fluid">
            <h3>Presentaciones</h3>
        </div>
        <hr>
        <div id="body-container" class="container-fluid">
            <table id="tabla" class="table table-striped">
                <thead>
                    <th id="evento">Evento</th>
                    <th id="estado">Estado</th>
                    <th id="nombre-archivo">Nombre del archivo</th>
                    <th id="tipo-archivo">Tipo de archivo</th>
                    <th id="td-operations">Operación</th>
                </thead>
                <tbody>
                    <tr th:each="trabajo : ${trabajos}">
                        <td id="evento">
                            <a th:href="@{/eventos/{id} (id = ${trabajo.evento.id})}" th:text="${trabajo.evento.nombre}"></a>
                        </td>
                        <td id="estado" th:text="${trabajo.estado}"></td>
                        <td id="nombre" th:text="${trabajo.nombre}"></td>
                        <td id="tipo-archivo" th:text="${trabajo.tipo}"></td>
                        <td id="td-operations">
                            <button class="btn btn-primary" th:onclick="|window.location.href='@{/trabajos/{id_evento}/{id_user}/download (id_evento = ${trabajo.evento.id} , id_user = ${trabajo.usuario.id})}'|">
                                <p><img id="icono" th:src="@{/images/download-icon.png}" width="20" height="20">
                                    Descargar
                                </p>
                            </button>
                            <button class="btn btn-danger" th:onclick="|window.location.href='@{/trabajos/{id_evento}/{id_user}/delete (id_evento = ${trabajo.evento.id} , id_user = ${trabajo.usuario.id})}'|">
                                <p><img id="icono" th:src="@{/images/trash.png}" width="20" height="20">
                                    Borrar
                                </p>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>