<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{header :: common_head(~{::title}, ~{::link}, ${id_user}, ${role})}">
    <title>Evento</title>
    <link rel="stylesheet" th:href="@{/css/evento2.css}">
</head>
<body th:object="${evento}">
<header th:replace="~{header :: common_header}"></header>
<div id="body-container" class="container-fluid">
    <div class="container">
        <h1 id="nombreEvento" th:text="*{nombre}"></h1>
        <div id="fechainicio"> Fecha de inicio: <p th:text="${#temporals.format(evento.fechaHoraDesde, 'dd/MM/yyyy HH:mm')}"></p> </div>
        <div id="fechafinalizacion"> Fecha de finalización: <p th:text="${#temporals.format(evento.fechaHoraHasta, 'dd/MM/yyyy HH:mm')}"></p> </div>
        <div id="modalidad"> Modalidad <p th:text="*{modalidad}"></p> </div>
        <div id="descripcion"><p th:text="*{descripcion}"></p></div>
    </div>
    <th:block th:switch="${role}">
        <th:block th:case="'ROLE_USER'">
            <div class="container" id="button-container" th:if="${subioTrabajos} == true">
                <h4>MI PRESENTACION</h4>
                <button id="boton" class="btn btn-success" th:onclick="|window.location.href='@{/trabajos/{id_evento}/{id_user}/download (id_evento = ${evento.id} , id_user = ${id_user})}'|">
                    <p><img id="icono" th:src="@{/images/download-icon.png}" width="20" height="20">
                        Descargar
                    </p>
                </button>
                <button id="boton" class="btn btn-danger" th:onclick="|window.location.href='@{/trabajos/{id_evento}/{id_user}/delete (id_evento = ${evento.id} , id_user = ${id_user})}'|">
                    <p><img id="icono" th:src="@{/images/trash.png}" width="20" height="20">
                        Borrar
                    </p>
                </button>
            </div>
            <div class="container" id="button-container" th:if="${subioTrabajos} == false">
                <button id="boton" class="btn btn-secondary" th:onclick="|window.location.href='@{/trabajos/{id_evento}/{id_user}/new (id_evento = ${evento.id} , id_user = ${id_user})}'|">Subir Trabajo</button>
            </div>
        </th:block>
        <th:block th:case="'ROLE_ADMIN'">
            <div class="container" id="button-container">
                <button id="boton" class="btn btn-secondary" th:onclick="|window.location.href='@{/eventos/{id}/edit (id = ${evento.id})}'|">Editar Evento</button>
                <button id="boton" class="btn btn-secondary">Ver trabajos</button>
            </div>
        </th:block>
    </th:block>
</div>
</body>
</html>
